/* ======= NAVBAR ======= */
navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav li {
	float: none;
    display: inline-block;
    text-align: center;
}
/* ======= End of NAVBAR ======= */

/* ======= index.html text ======= */
#hero {
	text-align: left;
	background: url("../images/smile.jpg") top right;
	background-size: cover;
	background-position: center;
	/*padding: 250px 0px;*/
}

#hero-text {
	background-color: rgb(0, 0, 0, 0.2);
	padding: 250px 0px;
}

#hero h1 {
	color: rgb(255, 255, 255);
	/*background-color: rgb(0, 0, 0, 0.3);*/
	padding: 0px 140px;
	font-size: 55px;
}

#hero p {
	font-size: 20px;
	color: rgb(245, 241, 230);
	/*background-color: rgb(0, 0, 0, 0.25);*/
	padding: 0px 70px;
}

.button {
	/*text-align: center;*/
	color: white;
	padding: 0px 250px;
}

.button .btn {
	background-color: rgb(204, 153, 102, 0.65);
	border: 3px solid white;
	color: white;
	border-radius: 50%;
}

.button .btn:hover, .btn:focus {
	color: white;
	border-color: currentColor;
	background-color: rgb(204, 153, 102, 1);
}

/* ======= About Page ======= */
#summary {
	text-align: center;
}

hr {

}